<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="siteContent">
    <div class="row">
        <div class="col-12">
            <h2>Actor List</h2>
            <div class="mt-2">
                <label for="searchInput" class="form-label">Search:</label>
            </div>
            <div class="mb-3 d-flex align-items-end">
                <input type="text" class="form-control me-2" id="searchInput" placeholder="Enter actor name or surname">
                <button type="button" class="btn btn-outline-primary" onclick="searchActors()">Search</button>
            </div>
            <div class="mb-3" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addActorModal">Add
                    Actor
                </button>
            </div>

            <!-- Add Actor Modal -->
            <div class="modal fade" id="addActorModal" tabindex="-1" aria-labelledby="addActorModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addActorModalLabel">Add Actor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="firstNameInput" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="firstNameInput">
                            </div>
                            <div class="mb-3">
                                <label for="lastNameInput" class="form-label">Surname:</label>
                                <input type="text" class="form-control" id="lastNameInput">
                            </div>
                            <div class="mb-3">
                                <label for="ageInput" class="form-label">Age:</label>
                                <input type="number" class="form-control" id="ageInput">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="addActor()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Actor Modal -->
            <div class="modal fade" id="deleteActorModal" tabindex="-1" aria-labelledby="deleteActorModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteActorModalLabel">Delete Actor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this actor?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" id="confirmDeleteButton"
                                    onclick="deleteActor()">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Update Actor Modal -->
            <div class="modal fade" id="updateActorModal" tabindex="-1" aria-labelledby="updateActorModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateActorModalLabel">Update Actor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <input type="hidden" id="updateActorId">
                            <div class="mb-3">
                                <label for="updateFirstNameInput" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="updateFirstNameInput" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateLastNameInput" class="form-label">Surname:</label>
                                <input type="text" class="form-control" id="updateLastNameInput" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateAgeInput" class="form-label">Age:</label>
                                <input type="number" class="form-control" id="updateAgeInput" min="16" max="100"
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="updateActor()">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped" id="actorTable">
                <thead>
                <tr>
                    <th>
                        <button type="button" class="btn btn-link" onclick="sortTable('firstName')">Name</button>
                    </th>
                    <th>
                        <button type="button" class="btn btn-link" onclick="sortTable('lastName')">Surname</button>
                    </th>
                    <th>
                        <button type="button" class="btn btn-link" onclick="sortTable('age')">Age</button>
                    </th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')" id="updateActorTh">
                        Update Actor
                    </th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')" id="deleteActorTh">
                        Delete Actor
                    </th>
                    <th>
                        Info
                    </th>
                </tr>
                </thead>
                <tbody id="actorTableBody">
                <!-- Actors will be populated here dynamically -->
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var actorList = []; // Глобальная переменная для хранения списка актеров
        var filteredActorList = []; // Глобальная переменная для хранения отфильтрованного списка актеров

        loadActorList();

        document.addEventListener("DOMContentLoaded", function () {
            loadActorList();
        });

        function loadActorList() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/api/actor/get-actor-list", true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    actorList = JSON.parse(httpRequest.responseText);
                    filteredActorList = actorList; // Начальное значение фильтрованного списка равно полному списку актеров
                    populateActorTable(filteredActorList);
                }
            };
            httpRequest.send();
        }

        function populateActorTable(actorList) {
            var tableBody = document.getElementById("actorTableBody");
            tableBody.innerHTML = "";

            actorList.forEach(function (actor) {
                var row = document.createElement("tr");


                var nameCell = document.createElement("td");
                nameCell.textContent = actor.actorName;
                var surnameCell = document.createElement("td");
                surnameCell.textContent = actor.actorSurname;
                var ageCell = document.createElement("td");
                ageCell.textContent = actor.actorAge;

                var moreCell = document.createElement("td");
                var moreLink = document.createElement("a");
                moreLink.classList.add("btn");
                moreLink.classList.add("btn-primary");
                moreLink.textContent = "More";
                moreLink.href = "/actor_details/" + actor.id;
                moreCell.appendChild(moreLink);

                row.appendChild(nameCell);
                row.appendChild(surnameCell);
                row.appendChild(ageCell);

                var updateCell = document.getElementById("updateActorTh");
                if (updateCell) {
                    var updateLink = document.createElement("a");
                    updateLink.classList.add("btn");
                    updateLink.classList.add("btn-primary");
                    updateLink.textContent = "Update";
                    updateLink.setAttribute("data-bs-toggle", "modal");
                    updateLink.setAttribute("data-bs-target", "#updateActorModal");
                    updateLink.addEventListener("click", function () {
                        openUpdateActorModal(actor.id);
                    });
                    var updateButtonCell = document.createElement("td");
                    updateButtonCell.appendChild(updateLink);
                    row.appendChild(updateButtonCell);
                }


                var deleteCell = document.getElementById("deleteActorTh");
                if (deleteCell) {
                    var deleteLink = document.createElement("a");
                    deleteLink.classList.add("btn");
                    deleteLink.classList.add("btn-danger");
                    deleteLink.textContent = "Delete";
                    deleteLink.setAttribute("data-bs-toggle", "modal");
                    deleteLink.setAttribute("data-bs-target", "#deleteActorModal");
                    deleteLink.addEventListener("click", function () {
                        openDeleteActorModal(actor.id);
                    });
                    var deleteButtonCell = document.createElement("td");
                    deleteButtonCell.appendChild(deleteLink);
                    row.appendChild(deleteButtonCell);
                }


                row.appendChild(moreCell);

                tableBody.appendChild(row);
            });
        }

        function sortTable(column) {
            switch (column) {
                case 'firstName':
                    filteredActorList.sort((a, b) => a.actorName.localeCompare(b.actorName));
                    break;
                case 'lastName':
                    filteredActorList.sort((a, b) => a.actorSurname.localeCompare(b.actorSurname));
                    break;
                case 'age':
                    filteredActorList.sort((a, b) => a.actorAge - b.actorAge);
                    break;
            }
            populateActorTable(filteredActorList);
        }

        function searchActors() {
            var searchInput = document.getElementById("searchInput").value.toLowerCase();
            if (searchInput === "") {
                loadActorList();
            } else {
                var httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/api/actor/get-actor-list?searchQuery=" + searchInput, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                        var response = JSON.parse(httpRequest.responseText);
                        filteredActorList = response;
                        populateActorTable(filteredActorList);
                    }
                };
                httpRequest.send();
            }
        }


        function addActor() {
            var firstName = document.getElementById("firstNameInput").value;
            var lastName = document.getElementById("lastNameInput").value;
            var age = parseInt(document.getElementById("ageInput").value);

            if (isNaN(age) || age < 16 || age > 100) {
                alert("Age must be between 16 and 100.");
                return;
            }

            var actor = {
                actorName: firstName,
                actorSurname: lastName,
                actorAge: age
            };

            var httpRequest = new XMLHttpRequest();
            httpRequest.open("PUT", "/api/actor", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    var response = JSON.parse(httpRequest.responseText);
                    // Process the response if needed
                    // ...
                    // Close the modal
                    var modal = document.getElementById("addActorModal");
                    var modalInstance = bootstrap.Modal.getInstance(modal);
                    modalInstance.hide();
                    // Refresh the actor list
                    loadActorList();
                }
            };
            httpRequest.send(JSON.stringify(actor));
        }

        function openDeleteActorModal(actorId) {
            var deleteButton = document.getElementById("confirmDeleteButton");
            deleteButton.setAttribute("data-actor-id", actorId);
        }

        function deleteActor() {
            var actorId = document.getElementById("confirmDeleteButton").getAttribute("data-actor-id");

            // Отправка запроса на удаление актера по идентификатору
            var httpRequest = new XMLHttpRequest();
            httpRequest.open("DELETE", "/api/actor/" + actorId, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        loadActorList(); // Обновление списка актеров
                        var modal = document.getElementById("deleteActorModal");
                        var modalInstance = bootstrap.Modal.getInstance(modal);
                        modalInstance.hide(); // Скрыть модальное окно
                    } else {

                        alert("You can't delete this actor because you has movie with them");
                    }
                }
            };

            httpRequest.send();
        }

        function openUpdateActorModal(actorId) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/api/actor/" + actorId, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    var actor = JSON.parse(httpRequest.responseText);
                    if (actor) {
                        document.getElementById("updateActorId").value = actor.id;
                        document.getElementById("updateFirstNameInput").value = actor.actorName;
                        document.getElementById("updateLastNameInput").value = actor.actorSurname;
                        document.getElementById("updateAgeInput").value = actor.actorAge;
                    }
                    modal = bootstrap.Modal(document.getElementById('updateActorModal'));
                    modal.show();
                }
            };
            httpRequest.send();
        }

        function updateActor() {
            var actorId = document.getElementById("updateActorId").value;
            var firstName = document.getElementById("updateFirstNameInput").value;
            var lastName = document.getElementById("updateLastNameInput").value;
            var age = document.getElementById("updateAgeInput").value;

            var actor = {
                id: actorId,
                actorName: firstName,
                actorSurname: lastName,
                actorAge: age
            };

            var httpRequest = new XMLHttpRequest();
            httpRequest.open("PUT", "/api/actor", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    var modal = document.getElementById("updateActorModal");
                    var modalInstance = bootstrap.Modal.getInstance(modal);
                    modalInstance.hide();
                    loadActorList();
                }
            };
            httpRequest.send(JSON.stringify(actor));
        }


    </script>
</div>
</html>
