<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Or for RTL support -->


<style>
    .movie-title {
        color: #333;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .movie-poster {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .movie-description {
        color: #555;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

</style>
