<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="head.html">
</head>
<body>
<div>
    <div th:insert="navbar.html">
    </div>
</div>

<div class="container mt-5 col-10" style="min-height: 800px;">
    <div class="row">
        <div class="col-12">
            <div layout:fragment="siteContent">
            </div>
        </div>
    </div>
</div>
</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.min.js'}"></script>

</html>