<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">
<div layout:fragment="siteContent">
    <h1 class="text-center">About Director</h1>
    <div class="row" id="director_info_div">
        <div class="col-12">
            <h4 id="director_name"></h4>
            <h4 id="director_info"></h4>
        </div>
    </div>

    <h1 class="text-center mt-5">Movies</h1>
    <div class="row" id="movie_list_div">
    </div>

    <div class="text-center mt-5" id="no_movies_message" style="display: none;">
        <h4>No movies with the current director</h4>
    </div>

    <script type="text/javascript">
        // Get the directorId from the URL
        var url = new URL(window.location.href);
        var directorId = url.pathname.split("/").pop();

        loadDirectorInfo();
        loadMovies();

        function loadDirectorInfo() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/api/producer/" + directorId, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    var director = JSON.parse(httpRequest.responseText);
                    document.getElementById("director_name").innerText = "Full Name: " + director.directorName + " " + director.directorSurname;
                    document.getElementById("director_info").innerText = "Age: " + director.directorAge;
                }
            };
            httpRequest.send();
        }

        function loadMovies() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/api/movie/find_producer?producerId=" + directorId, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                    var movieList = JSON.parse(httpRequest.responseText);
                    var cardContent = "";

                    if (movieList.length > 0) {
                        for (var i = 0; i < movieList.length; i++) {
                            cardContent += "<div class=\"col-3 my-3\">";
                            cardContent += "<div class=\"card border-dark my-3 mx-3 h-100 d-flex flex-column\">";
                            cardContent += "<img src=\"/img/movie_background.jpg\" class=\"card-img-top\">";
                            cardContent += "<div class=\"card-body d-flex flex-column\">";
                            cardContent += "<h6>" + movieList[i].movieTitle + "</h6>";

                            var genres = movieList[i].movieGenres.map(function (genre) {
                                return genre.genreName;
                            }).join(", ");

                            cardContent += "<p class=\"card-text\" style='font-size: 14px;'>" +
                                movieList[i].movieYear + ", " +
                                movieList[i].movieCountry.countryName + ", " +
                                genres +
                                "</p> ";

                            cardContent += "<a href=\"/movie_details/" + movieList[i].id + "\" " +
                                "class=\"btn btn-primary mt-auto\">" +
                                "About Movie</a>";

                            cardContent += "</div>";
                            cardContent += "</div>";
                            cardContent += "</div>";
                        }

                        document.getElementById("movie_list_div").innerHTML = cardContent;
                    } else {
                        document.getElementById("no_movies_message").style.display = "block";
                    }
                }
            };
            httpRequest.send();
        }
    </script>
</div>
</html>
